button {
    border: 1px solid black !important;
    color: black !important;
    font-weight: bolder !important;
    font-size: large !important;
    width: 300px;
}

#left {
    background-image: url("./assets/fondo_banderas.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
}